// Mixins in here
//Button mixins
.button-style(@bg-color:rgb(29, 122, 115), @font:rgb(255, 255, 255)){
  display: block;
  background-color: @bg-color;
  cursor: pointer;
  width: 80%;
  height: 40px;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 4%;
  border-radius: 10px;
  color:@font;
  &:hover{
    background-color:@font;
    color:@bg-color;
    border: 1px solid @bg-color;
  }
}