// Navigation Styles here
nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    .nav{
        a{
            text-decoration: none;
            color: @shark;
            font-size: 1.6rem;
        }
    }
}